<!-- File: app.component.html
Author: Lehoczki Patrícia
Copyright: 2022, Lehoczki Patrícia
Group: Szoft II/N
Date: 2022.01.13
Github: https://github.com/lehoczkipatricia
Licenc: GNU GPL -->

<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Kör alapú henger</h1>
  </div>
  <div class="d-flex justify-content-center">
    <h2>Kör alapú henger felszínének kiszámítása</h2>
  </div>

  <label for="radius">Henger sugara: </label>
  <input class="form-control" type="text" id="radius" [(ngModel)]="radius"><br>

  <label for="length">Henger hossza: </label>
  <input class="form-control" type="text" id="length" [(ngModel)]="length"><br>
  <div class="d-grid gap-2">
  <button class="btn btn-secondary" (click)="calcSurface()">Számít</button><br>
  </div>
  <label>Felszín: </label>
  <input class="form-control" type="text" disabled [(ngModel)]="surface"><br>

  <label>Értékek: </label>
  <input class="form-control" type="text" disabled [(ngModel)]="pastCalc">
  <div class="d-flex justify-content-center pt-3">
    <h3>Készítette: Lehoczki Patrícia</h3>
  </div>
    <div class="d-flex justify-content-center">
    <h3>Készítés dátuma: 2022.01.13</h3>
  </div>
    <div class="d-flex justify-content-center">
    <h3>Osztály: Szoft II/N</h3>
  </div>
</div>


